DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=taxidb_test
REDIS_HOST=localhost
REDIS_PORT=6379
CACHE_DB=10
SESSION_DB=11
ACCESS_SECRET=super_secret_access_token_key_for_testing_123
REFRESH_SECRET=super_secret_refresh_token_key_for_testing_123
ACCESS_EXPIRES_IN=900
REFRESH_EXPIRES_IN=604800
